*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

header {
    padding: 5px 0 5px 0;
    background-color: #154c79;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

body {
  background-color: #eeeee4;
}

main {
    width: 100%;
    background-color: #eeeee4;
}

ul {
  display: flex;  
}

ul li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav a{  
  text-decoration: none;
}

#logoImage {
    width: 45px;
    border-radius: 50%;
}

#profileImage{
    width: 120px;
}

#bio {
    text-align: justify;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;

}

footer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #154c79;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: .2rem;
  padding: .3rem;
}

#socialMedia{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}






.fa {
    padding: 15px;
    font-size: 10px;
    width: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }

  .fa-skype {
    background: #00aff0;
    color: white;
  }