*{
  margin: 0px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: normal;
}

h2 {
  font-size: 0.9rem;
}

header {
  width: 100%;
  color: #eeeee4;
  font-size: 1.2rem;
  padding: 0.4rem 0 0.4rem 0;
  background-color: #154c79;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
}

body {
  width: 100%;
  background-color: #eeeee4;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.5rem;
  width: 95%;
  background-color: #eeeee4;
}

body main nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

ul li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-decoration: none;
}

nav a{  
  color: #3B5998;
  font-weight: bold;
  text-decoration: none;
}

#logoImage {
  width: 45px;
  border-radius: 50%;
}

#profileImage{
  width: 120px;
  border-radius: 25px;
  border: 0.3rem solid #3B5998;
}

#bio {
  text-align: justify;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
}

#workexperience, #studyexperience {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
}

nav h3 {
  color: #154c79;
  font-weight: bold;
  text-decoration: underline;
}

footer{
  color: #eeeee4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: .6rem;
  background-color: #154c79;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: .5rem;
}






.fa {
    padding: 0.5rem;
    font-size: 1rem;
    width: 1rem;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }

  .fa-skype {
    background: #00aff0;
    color: white;
  }